/* starts GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    transition: 0.1s linear; 
}

html {
    font-size: 62.5%;
}

body {
    background-color: #494747;

}

h1 {
    color: white;
}
/* ends GLOBALS */

/* btn cadastrar */
.button-cadastrar {
    color: #fff;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 9;
    background-color: rgb(10, 10, 236);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
}

.button-cadastrar:hover {
    background-color: rgb(33, 33, 204);
}

/* starts container center */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    width: 100vw;
}

/* starts container left*/
.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.header {
    background: #292828;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    width: 30rem;
    border-radius: 0.4rem;
}

.header:hover {
    box-shadow: 2px 2px 6px 5px wheat;
    width: 31rem;
}

.box-astronauta {
    background: #292828;
    width: 30rem;
    border-radius: 0.4rem;
    text-align: center;
}

.box-astronauta:hover {
    box-shadow: 2px 2px 6px 5px wheat;
    width: 31rem;
}

.astronauta {
    padding: 1rem; 
    width: 13rem;
}

/* ends container left*/

/* starts form */
.form {
    display: flex;
    flex-direction: column;
    background: #292828;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 35rem;
}

form:hover {
    box-shadow: 2px 2px 6px 5px wheat;
    height: 26rem;
    width: 36rem;
}

input {
    padding: 0.4rem;
    width: 90%;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    background: rgb(197, 191, 191);
    font-size: 1.6rem;
    color: black;
}

label {
    color: white;
    font-size: 1.6rem;
    width: 90%;
    text-align: left;
    margin-bottom: 0.5rem;
}

.submit-btn {
    padding: 0.6rem;
    width: 7rem;
    background-color: #836FFF;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #6c57f5;
    padding: 0.7rem;
    width: 8rem;
    color: white;
}
/* ends form */

/* ends container center */

/* starts container modal*/
.container-modal {
    background-color: rgba(219, 121, 118, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.container-modal.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: rgb(221, 215, 215);
    border: 3px solid black; 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.4rem;
    gap: 4rem;
    padding: 1rem;
}

.container-modal .modal .paragraph-modal {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000;
}

.container-modal .modal button {
    padding: 0.6rem 1rem;
    width: 15rem;
    border: none;
    border: 1px solid #836FFF;
    border-radius: 0.4rem;
    background-color: #483D8B;
    color: #fff;
    cursor: pointer;
}

.container-modal .modal button:hover {
    padding: 0.7rem 1rem;
    width: 16rem;
    background-color: #836FFF;
    border: 1px solid black;
}

/* ends container modal*/

/* starts medias */
@media(max-width:700px){
    /* container center */
    .container-center {
        flex-direction: column;
    }

    /* container left*/
    .container-left {
        flex-direction: row;
        width: 95%;
        height: 20%;
    }

    .header {
        width: 80%;
        font-size: 1.8rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header:hover {
        width: 80%;
        padding: 4.4rem 1rem; 
    }

    .box-astronauta, .box-astronauta:hover {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .astronauta {
        width: 10rem;
    }

    /* container right */
    .form {
        width: 95%;
    }

    .form:hover {
        width: 95%;
    }
}
/* ends medias */